* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(10, 10, 10);
    color: white;
}

.navbar {
    height: 70px;
    background-color: rgb(27, 23, 23);
    color: white;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 25px;
    color: yellow;
    font-weight: bold;
}

.navbar a {
    text-decoration:  none;
    display: inline-block;
    margin-left: 23px;
    color: white;
    transition: all 0.3s ease-in-out;
}

    .navbar a:hover {
    transform: scale(1.05) translateY(-3px);
    color: rgb(255, 196, 0);
}

.brand {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
}

.tagline {
    font-size: 13px;
    opacity: 0.7;
    margin-top: 2px;
}

.hero {
    height: 70vh;
    color: white;
    background: url('https://wallpapercave.com/wp/wp9225958.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content .sub {
    letter-spacing: 2px;
    color: darkgrey;
    font-size: 24px;
}

.hero-content .sub2 {
    font-size: 64px;
}

.hero-content h1 {
    font-size: 50px;
    font-weight: 500;
    margin: 15px 0;
}

.hero-content .desc {
    margin-bottom: 25px;
    font-style: italic;
    font-size: 17px;
}

.btn1 {
    padding: 14px 16px;
    border-radius: 10px;
    color: rgb(19, 18, 18);
    background-color: yellow;
    border: none;
}

.sobre {
    padding: 65px 60px;
    background-color: #0a0a0a;
    text-align: center;
}

.sobre-container {
    max-width: 900px;
    margin: auto;
}

.sobre-sub {
    color: #d4a017;
    font-size: 27px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.sobre-title {
    font-size: 45px;
    margin-bottom: 30px;
}

.sobre-text {
    font-size: 23px;
    color: #dcdcdc;
    line-height: 1.8;
    margin-bottom: 25px;
    opacity: 0.85;
}

.sobre-highlight {
    color: #ffdd55;
    font-weight: bold;
}

.btn-sobre {
    margin-top: 15px;
    padding: 12px 25px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    transition: 0.3s;
}

.btn-sobre:hover {
    transform: scale(1.05) translateY(-3px);
    background-color: #ffea2e;
}

.depoimentos {
    padding: 80px 60px;
    text-align: center;
}

.depoimentos h2 {
    font-size: 40px;
    color: #ffdd55;
    margin-bottom: 50px;
}

.depoimentos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
}

.dep-card {
    background-color: #111;
    padding: 35px 25px;
    border-radius: 18px;
    box-shadow: 0px 0px 25px rgba(255, 221, 85, 0.15);
    transition: all 0.3s ease-in-out;
}

.dep-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 0px 35px rgba(255, 221, 85, 0.25);
}

.quote {
    font-size: 32px;
    color: #ffdd55;
    margin-bottom: 15px;
}

.dep-card p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.85;
    margin-bottom: 20px;
}

.dep-card h3 {
    font-size: 18px;
    color: #ffdd55;
    font-weight: bold;
}

.contato {
    padding: 90px 60px;
    background: radial-gradient(circle at left, rgba(255, 174, 0, 0.55), transparent 40%);
    text-align: center;
}

.contato h2 {
    font-size: 40px;
    color: #ffdd55;
    margin-bottom: 10px;
}

.contato-sub {
    opacity: 0.8;
    margin-bottom: 50px;
}

.contato-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.contato-form {
    background: rgba(255, 255, 255, 0.05);
    padding: 35px;
    border-radius: 20px;
    width: 600px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 221, 85, 0.15);
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #ffdd55;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    background-color: #111;
    border: 1px solid #333;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    resize: none;
    transition: 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ffdd55;
    outline: none;
}

.contato {
    background-color: #1f1f1f08;
}

.btn-contato {
    width: 100%;
    padding: 14px;
    background-color: #ffdd55;
    color: #000;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-contato:hover {
    transform: scale(1.05) translateY(-3px);
    background-color: #ffe680;
}

.contato-info {
    max-width: 300px;
    text-align: left;
}

.contato-info h3 {
    color: #ffdd55;
    font-size: 24px;
    margin-bottom: 15px;
}

.contato-info p {
    margin-bottom: 12px;
    opacity: 0.85;
}

.colecao {
    padding: 60px;
    text-align: center;
}

.colecao h3 {
    font-size: 18px;
    color: #d4a017;
}

.colecao h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 40px;
}

.card {
    background-color: black;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    animation: pulseGlow 1.3s infinite alternate;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 15px #c3d33480, 0 0 30px #d9e71640;
    }
    100% {
        box-shadow: 0 0 21px #c1d169, 0 0 45px #cdd46380;
    }
}

.car-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.disponivel {
    background-color: #28c940;
}

.esgotado {
    background-color: #e03131;
}

.content {
    padding: 18px;
    background-color: #0a0a0a;
}

.brand {
    display: flex;
    justify-content: flex-start;
    color: #ffdd55;
    font-size: 14px;
    letter-spacing: 1px;
}

.model {
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
    font-size: 22px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 15px 0;
    font-size: 14px;
    opacity: 0.85;
}

.separator {
    height: 2px;
    background-color: rgb(27, 27, 27);
    margin: 15px 0;
}

.price-label {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.price {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    font-weight: bold;
    color: #ffdd55;
}

.contato {
    margin-top: 2px;
    padding: 60px;
    text-align: center;
    background-color: #111;
}

.contato-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.item-circle {
    width: 60px;
    height: 60px;
    background-color: #bfce1d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
}

.item-circle i {
    color: rgb(0, 0, 0);
}

.footer {
    text-align: center;
    background-color: #1f1f1f;
    color: #ccc;
    padding: 10px 0 5px 0;
}




